/* ESTILOS GENERALES */
.Home, .Popular, .Categoria{
    width: 100%;
    padding-bottom: 4rem;

    position: relative;
}

/* ESTILOS EN CATEGORÍAS  */
@media (min-width: 300px) and (max-width: 750px){
    .colec-cards{
        margin: 0;
        display: flex;
        justify-content: space-around;
    
        padding: 1.5rem;
    }
    
    .img-card{
        width: 5rem;
    }
}

@media (min-width: 750px){
    .colec-cards{
        margin: 0;
        display: flex;
        justify-content: space-around;
    
        padding: 1.5rem;
    }
    
    .img-card{
        width: 15rem;
    }
}

/* Botones de tarjetas: Categoría */
.btn-save{
    background-color: rgb(50, 255, 47);
}

.btn-save:hover{
    background-color: rgba(50, 255, 47, 0.662);
}

.btn-delete{
    background-color: rgb(221, 12, 12);
}

.btn-delete:hover{
    background-color: rgba(221, 12, 12, 0.748);
}