/* ESTILOS EN CATEGORÍAS  */
@media (min-width: 300px) and (max-width: 750px) {

    /* Estilos correspondientes a "Categoría" */
    .container-card {
        margin: 0;
        width: 50%;

        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .colec-cards {
        margin: 0;

        display: flex;
        flex-direction: column;
        justify-content: center;

        margin-left: 4rem;
        margin-right: 4rem;
    }

    .p-card-title {
        font-size: 1.5rem;
        font-weight: 600;
    }

    .img-card {
        width: 5rem;
    }

    /* Botones de tarjetas: Categoría */
    #acciones {
        margin: 1.5rem;
    }

    .btn-megusta {
        width: 3rem;
        height: 2rem;

        background-color: rgb(221, 12, 12);
    }

    .btn-guardar {
        width: 3rem;
        height: 2rem;

        background-color: rgb(47, 168, 255);
    }

    #img-carrusel{
        width: 95%;
    }

}

@media (min-width: 750px) {
    /* ESTILOS GENERALES */
    .Popular, .Categoria {
        width: 100%;
        padding-bottom: 4rem;
    }

    .pantalla1{
        display: flex;
    }

    /* Estilos correspondientes a "Categoría" */
    .p-card-title {
        font-size: 2rem;
        font-weight: 600;
    }

    .colec-cards {
        margin: 0;
        display: flex;
        justify-content: space-around;

        padding: 1.5rem;
    }

    .img-card {
        width: 15rem;
    }

    /* Botones de tarjetas: Categoría */
    .btn-megusta {
        background-color: rgb(221, 12, 12);
    }

    .btn-guardar {
        background-color: rgb(47, 168, 255);
    }

    .seccion-aside {
        width: 20%;

        margin: 1rem;
        padding-top: 4rem;

        text-align: center;
        flex-direction: column;
    }

    .seccion-principal {
        width: 80%;
        height: 100%;

        margin: 1rem;

        display: flex;
        align-items: center;
        flex-direction: column;
    }

    #img-carrusel{
        width: 100%;
        height: 45rem;
    }

    .seccion-bottom{
        width: 100%;
        order: 3;
    }
}

/* Animación en botones */
.btn-megusta:hover {
    background-color: rgba(221, 12, 12, 0.748);
}

.btn-guardar:hover {
    background-color: rgba(47, 168, 255, 0.774);
}