/* Estilso generales */
.carrusel{
    margin: 0;
    width: 100%;

    padding-bottom: 1rem;

    display: flex;
    justify-content: center;
}

.img-carrusel{
    width: 100%;
}

/* Botón de carrusel */
button{
    margin: 1rem;
    padding: 0.5rem;

    border-radius: 0.5rem;
    border-width: 1px;

    background-color: rgb(60, 60, 98);
}

button:hover{
    background-color: rgb(80, 80, 127)
}