/* Carrusel: Tamaños generales */
.carrusel{
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.img-carrusel{
    width: 100%;
}

/* Botón de Carrusel */
button{
    margin: 1rem;
    padding: 0.5rem;

    border-radius: 0.5rem;
    border-width: 1px;

    border-color: #7d751b7c;
    background-color: #7d751b7c;
}

button:hover{
    border-color: #fff9b6c7;
    background-color: #fff9b6c7;
}